<div class="wrapper" style="background-image: url(./assets/img/backg.png); margin-top: -30px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white">
            <div class="sidebar-background" ></div>
            <div class="logo">
                <a  class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logoxml.jpg" />
                    </div>
                   Nistagram
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/welcome']" > <i class="material-icons">person</i>
                            <p style="color: green; font-weight: 500;">Back</p>
                        </a>
                    </li>
               
                   
                  
                </ul>
            </div>
        </div>
    </div>

    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">

    <h2>My highlights</h2>

    <table class="table">
        <tbody>
            <tr *ngFor='let s of highlightStoryGroups'>
                <td>
                    <div *ngIf="s.story1.isVideo; else notVideo">
                       <video width="384" height="288" controls><source src="media/file/{{s.story1.pathOfContent}}"></video>
                    </div>

                    <ng-template #notVideo>
                      <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story1.pathOfContent}}">
                    </ng-template>
                </td>
                <td>
                    <div *ngIf="s.story2">
                        <div *ngIf="s.story2.isVideo; else notVideo">
                           <video width="384" height="288" controls><source src="media/file/{{s.story2.pathOfContent}}"></video>
                        </div>

                        <ng-template #notVideo>
                          <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story2.pathOfContent}}">
                        </ng-template>
                    </div>
                </td>
                <td>
                    <div *ngIf="s.story3">
                        <div *ngIf="s.story3.isVideo; else notVideo">
                           <video width="384" height="288" controls><source src="media/file/{{s.story3.pathOfContent}}"></video>
                        </div>

                        <ng-template #notVideo>
                          <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story3.pathOfContent}}">
                        </ng-template>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>


    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
    <!-- <h2>Welcome back </h2> -->
    <h2>Profile name: {{korisnik.name}} {{korisnik.lastname}}</h2>
     
       
    <form (ngSubmit)="edit()" #loginForm="ngForm">
        <div class="row">
         

          

            <div class="col-sm-2">
                <h3>Name </h3>
                <div class="form-group">
                    <input type="text" value="" placeholder="First Name" class="form-control" name="firstName"
                        #firstName="ngModel" [(ngModel)]="korisnik.name" disabled/>
                </div>
            </div>

            <div class="col-sm-3">
                <h3>Last name </h3>
                <div class="form-group">
                    <input type="text" value="" placeholder="Last Name" class="form-control" name="lastName"
                        #lastName="ngModel" [(ngModel)]="korisnik.lastname" disabled/>
                </div>
            </div>
            <div class="col-sm-2">
                <h3>Username </h3>
                <div class="form-group">
                    <input type="text" value="" placeholder="E-mail" class="form-control" name="email"
                        #email="ngModel" [(ngModel)]="korisnik.email" disabled />
                </div>
            </div>

            <div class="col-sm-2">

                <h3>Website </h3>
                <div class="form-group">
                    <input type="text" value="" placeholder="Website" class="form-control" name="address1"
                        #address1="ngModel" [(ngModel)]="korisnik.website" disabled />
                </div>
            </div>
            <div class="col-sm-2">

                <h3>Biography </h3>
                <div class="form-group">
                    <input type="text" value="" placeholder="bio" class="form-control" name="bio"
                        #bio="ngModel" [(ngModel)]="korisnik.bio" disabled />
                </div>
            </div>
            

        </div>
    </form>
</div>
<div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
<h2>Profile pictures and stories</h2>

<table class="table">
    <tbody>
        <tr *ngFor='let s of publicStoryGroups'>
            <td>
                <div *ngIf="s.story1.isVideo; else notVideo">
                   <video width="384" height="288" controls><source src="media/file/{{s.story1.pathOfContent}}"></video>
                </div>

                <ng-template #notVideo>
                  <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story1.pathOfContent}}">
                </ng-template>
            </td>
            <td>
                <div *ngIf="s.story2">
                    <div *ngIf="s.story2.isVideo; else notVideo">
                       <video width="384" height="288" controls><source src="media/file/{{s.story2.pathOfContent}}"></video>
                    </div>

                    <ng-template #notVideo>
                      <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story2.pathOfContent}}">
                    </ng-template>
                </div>
            </td>
            <td>
                <div *ngIf="s.story3">
                    <div *ngIf="s.story3.isVideo; else notVideo">
                       <video width="384" height="288" controls><source src="media/file/{{s.story3.pathOfContent}}"></video>
                    </div>

                    <ng-template #notVideo>
                      <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story3.pathOfContent}}">
                    </ng-template>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</div>
</div>
