<div class="wrapper" style="background-image: url(./assets/img/backg.png); margin-top: -30px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white">
            <div class="sidebar-background" ></div>
            <div class="logo">
                <a  class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logoxml.jpg" />
                    </div>
                   Nistagram
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/signup']" > <i class="material-icons">person_add</i>
                            <p style="color: green; font-weight: 500;">Register</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link sidebar-1" [routerLink]="['/login']"> <i
                                class="material-icons">person_pin</i>
                            <p style="color: green; font-weight: 500;">Log in</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>



    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
        <h2>Sign up to explore Nistagram</h2>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" required name="name" #name="ngModel"  [(ngModel)]="user.name" [ngClass]="{'form-control':true,
                    'is-invalid': !name?.valid && !name?.touched,
                    'is-valid': name?.valid && name?.touched}" ></td>
                    <td *ngIf="name?.errors?.required && name?.touched"> The field must be filled
                    </td>
                </tr>
                
                <tr>
                    <td>Last name</td>
                    <td><input type="text" required name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" [ngClass]="{'form-control':true,
                        'is-invalid': !lastname?.valid && !lastname?.touched,
                        'is-valid': lastname?.valid && lastname?.touched}" ></td>

                    <td *ngIf="lastname?.errors?.required && lastname?.touched"> The field must be filled
                    </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="email" required name="email" #email="ngModel" [(ngModel)]="user.email" [ngClass]="{'form-control':true,
                            'is-invalid': !email?.valid && !email?.touched,
                            'is-valid': email?.valid && email?.touched}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>

                    <td *ngIf="email?.errors?.required && email?.touched"> The field must be filled</td>
                    <td *ngIf="email?.errors?.pattern && email?.touched"> Email is invalid</td>
                </tr>
                <tr>

                    <td>Email</td>
                    <td><input type="username" required name="username" #username="ngModel" [(ngModel)]="user.username" [ngClass]="{'form-control':true,
                            'is-invalid': !username?.valid && !username?.touched,
                            'is-valid': username?.valid && username?.touched}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>

                    <td *ngIf="username?.errors?.required && username?.touched"> The field must be filled</td>
                    <td *ngIf="username?.errors?.pattern && username?.touched"> Username is invalid</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" required name="password" #password="ngModel" [(ngModel)]="user.password" [ngClass]="{'form-control':true,
                        'is-invalid': !password?.valid && !password?.touched,
                        'is-valid': password?.valid && password?.touched}"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{10,}"></td>
                    <td *ngIf="password?.errors?.required && password?.touched"> The field must be filled</td>
                    <td *ngIf="password?.errors?.pattern&& password?.touched"> The password must contain uppercase and lowercase letters, numbers and special characters and a minimum of 10 characters</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td><input type="text" required name="tel" #tel="ngModel" [(ngModel)]="user.phoneNumber" [ngClass]="{'form-control':true,
                        'is-invalid': !tel?.valid && !tel?.touched,
                        'is-valid': tel?.valid && tel?.touched}" pattern="^[0-9]{9,10}" ></td>
                    <td *ngIf="tel?.errors?.required && tel?.touched"> The field must be filled</td>
                    <td *ngIf="tel?.errors?.pattern && tel?.touched"> Please enter 9 or 10 digits</td>
                        
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="text" required name="gender" #gender="ngModel" [(ngModel)]="user.gender" [ngClass]="{'form-control':true,
                        'is-invalid': !gender?.valid && !gender?.touched,
                        'is-valid': gender?.valid && gender?.touched}" ></td>

                    <td *ngIf="gender?.errors?.required && gender?.touched"> The field must be filled
                    </td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><input type="text" required name="w" #w="ngModel" [(ngModel)]="user.website" [ngClass]="{'form-control':true,
                        'is-invalid': !w?.valid && !w?.touched,
                        'is-valid': w?.valid && w?.touched}" ></td>

                    <td *ngIf="w?.errors?.required && w?.touched"> The field must be filled
                    </td>
                </tr>
                <tr>
                    <td>Bio</td>
                    <td><input type="text" required name="w1" #w1="ngModel" [(ngModel)]="user.bio" [ngClass]="{'form-control':true,
                        'is-invalid': !w1?.valid && !w1?.touched,
                        'is-valid': w1?.valid && w1?.touched}" ></td>

                    <td *ngIf="w1?.errors?.required && w1?.touched"> The field must be filled
                    </td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td><input type="text" required name="w2" #w2="ngModel" [(ngModel)]="user.dateofb" [ngClass]="{'form-control':true,
                        'is-invalid': !w2?.valid && !w2?.touched,
                        'is-valid': w2?.valid && w2?.touched}" ></td>

                    <td *ngIf="w2?.errors?.required && w2?.touched"> The field must be filled
                    </td>
                </tr>


                <tr>
                <td><input type="submit" value="Sign up" class="btn btn-info"></td>
                </tr>
            </table>
        </form>
   
</div>
</div>