<div class="wrapper" style="background-image: url(./assets/img/backg.png); margin-top: -30px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white">
            <div class="sidebar-background"></div>
            <div class="logo">
                <a class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logoxml.jpg" />
                    </div>
                    Nistagram
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/korisnik']" > <i class="material-icons">person</i>
                            <p style="color: green; font-weight: 500;">My profile</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/stories']" > <i class="material-icons">donut_large</i>
                            <p style="color: green; font-weight: 500;">My stories</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/posts']" > <i class="material-icons">image</i>
                            <p style="color: green; font-weight: 500;">My posts</p>
                        </a>
                    </li>
                    
                    <li ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a ng-click="func()" class="nav-link sidebar-1" [routerLink]="['/favourite']"> <i
                                class="material-icons">favorite</i>
                            <p style="color: green; font-weight: 500;">My favourites</p>
                        </a>
                    </li>

                    <li ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a ng-click="func()" class="nav-link sidebar-1" [routerLink]="['/feed']"> <i
                                class="material-icons">calendar_view_week</i>
                            <p style="color: green; font-weight: 500;">My feed</p>
                        </a>
                    </li>

                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/explore']" > <i class="material-icons">explore</i>
                            <p style="color: green; font-weight: 500;">Explore Nistagram</p>
                        </a>
                    </li>
                     <li routerLinkActive="active" class="nav-item">
                        <a (click)="odjaviSe()"  class="nav-link sidebar-1" [routerLink]="['/welcome']"> <i
                                class="material-icons">logout</i>
                            <p style="color: green; font-weight: 500;">Log out</p>
                        </a>
                    </li>
                   
                  
                </ul>
            </div>
        </div>
    </div>


    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
        <h2>Create Post</h2>


        <form (ngSubmit)="createPost()" #PostForm="ngForm">

            <p>Add location</p>
            <input type="text" id="location" name="location" [(ngModel)]="location">
            <br><br>
            <p>Add tags</p>
            <input type="text" id="tag" name="tag" [(ngModel)]="tag">
            <br><br>
            <p>Add description</p>
            <input type="text" id="description" name="description" [(ngModel)]="description">

            <p></p>
            <input style="display: none" type="file" (change)="onFileSelected($event)" accept=".jpg, .png, .mp4"
                #fileInput>
            <button (click)="fileInput.click()">Select Image</button>
            <p></p>
            <input type="submit" value="Publish Post" class="btn btn-info">
        </form>
    </div>

    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
        <h2>My Posts</h2>

        <table class="table">

            <!-- <thead class="text-success">
        <th>Name <i  (click)="sort('NAME')" style="color: rgb(70, 70, 70); cursor: pointer;" class="material-icons">sort</i></th>
        <th>Last name <i  (click)="sort('LASTNAME')" style="color: rgb(70, 70, 70); cursor: pointer;" class="material-icons">sort</i></th>
        <th>Username <i  (click)="sort('USERNAME')" style="color: rgb(70, 70, 70); cursor: pointer;" class="material-icons">sort</i></th>
        
    </thead> -->
            <tbody>
                <tr *ngFor='let p of posts'>
                    <td>
                        <div *ngIf="p.post.isVideo; else notVideo">
                            <video width="640" height="480" controls>
                                <source src="media/file/{{p.post.pathOfContent}}">
                            </video>
                            <br>
                            <div>
                                <!--prikaz like, dislike, dugmici, lokacija, opis, tagovi ispod videa-->
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Likes: {{p.post.numberOfLikes}}</th>
                                            <th>Dislikes: {{p.post.numberOfDislikes}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                         
                                              <th> <button (click)="addLike(p.post.id, p.post.numberOfLikes)">Like</button></th>
                                            <th> <button type="button" click="addDislike(p.post.id, p.post.numberOfDislikes)">Dislike</button> </th>
                                            <th> <button type="button" click="addToFavourite(p.post.id)">Favourite</button> </th>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3>Location: {{p.post.location}}</h3>
                                <h3>Description: {{p.post.description}}</h3>
                                <h3>Tags: {{p.post.tags}}</h3>

                            </div>

                            <br><br>
                        </div>

                        <ng-template #notVideo>
                            <img width="640" height="480" style="object-fit: contain"
                                src="media/file/{{p.post.pathOfContent}}">
                            <br>
                            <div>

                                <div>
                                    <!--prikaz ispod slike, like,dislike, dugmici, lokacija, opis, tagovi-->
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Likes: {{p.post.numberOfLikes}}</th>
                                                <th>Dislikes: {{p.post.numberOfDislikes}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th> <button type="button" (click)="addLike(p.post.id, p.post.numberOfLikes)">Like</button> </th>
                                                <th> <button type="button" (click)="addDislike(p.post.id, p.post.numberOfDislikes)">Dislike</button> </th>
                                                <th> <button type="button" (click)="addToFavourite(p.post.id)">Favourite</button> </th>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <h3>Location: {{p.post.location}}</h3>
                                    <h3>Description: {{p.post.description}}</h3>
                                    <h3>Tags: {{p.post.tags}}</h3>

                                    <!--prikaz komentara-->

                                    <div class="card" style="margin-top: 150px;">
                                        <div class="card-header card-header-success">
                                            <h4 class="card-title">Komentari</h4>
                                        </div>
                                        <div class="card-content table-responsive table-full-width">
                                            <table class="table">

                                                <thead class="text-success">
                                                    <th>Username</th>
                                                    <th>Komentar</th>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let k of p.comments'>
                                                        <td><a [routerLink]="[k.username]">{{k.username}}</a></td>
                                                        <td>{{k.content}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div>
                                        <form>
                                            <input type="text" name="comment" [(ngModel)]="comment">
                                            <input type="submit" value="Komentarisi"
                                                (click)="addComment(p.post.id)">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <br><br>
                        </ng-template>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>