<div class="wrapper" style="background-image: url(./assets/img/backg.png); margin-top: -30px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white">
            <div class="sidebar-background" ></div>
            <div class="logo">
                <a  class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logoxml.jpg" />
                    </div>
                   Nistagram
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/korisnik']" > <i class="material-icons">person</i>
                            <p style="color: green; font-weight: 500;">My profile</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/stories']" > <i class="material-icons">donut_large</i>
                            <p style="color: green; font-weight: 500;">My stories</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/posts']" > <i class="material-icons">donut_large</i>
                            <p style="color: green; font-weight: 500;">My posts</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">

                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/explore']" > <i class="material-icons">explore</i>
                            <p style="color: green; font-weight: 500;">Explore Nistagram</p>
                        </a>
                    </li>
                     <li routerLinkActive="active" class="nav-item">
                        <a (click)="odjaviSe()"  class="nav-link sidebar-1" [routerLink]="['/welcome']"> <i
                                class="material-icons">logout</i>
                            <p style="color: green; font-weight: 500;">Log out</p>
                        </a>
                    </li>
                   
                  
                </ul>
            </div>
        </div>
    </div>


<div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
<h2>Create Story</h2>


<form (ngSubmit)="createStory()" #storyForm="ngForm">
    
    <p>Only for close friends</p>
    <input type="radio" id="close-no" name="close" value="yes" [(ngModel)]="onlyCloseFriends">
    <label for="close-no">Yes</label><br>
    <input type="radio" id="close-yes" name="close" value="no" checked="true" [(ngModel)]="onlyCloseFriends">
    <label for="close-yes">No</label><br>

    <p></p>
    <p>Highlighted?</p>
    <input type="radio" id="highlighted-no" name="highlighted" value="yes" [(ngModel)]="highlighted">
    <label for="highlighted-no">Yes</label><br>
    <input type="radio" id="highlighted-yes" name="highlighted" value="no" checked="true" [(ngModel)]="highlighted">
    <label for="highlighted-yes">No</label><br>

    <p></p>
    <p>Add tags</p>
    <input type="text" id="tag" name="tag" [(ngModel)]="tag">

    <p></p>
    <input style="display: none" type="file" (change)="onFileSelected($event)" accept=".jpg, .png, .mp4" #fileInput>
    <button (click)="fileInput.click()">Select Image</button>
    <p></p>
    <input type="submit" value="Publish Story" class="btn btn-info">
</form>
</div>

<div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
<h2>My Stories</h2>

<table class="table">
    <tbody>
        <tr *ngFor='let s of storyGroups'>
            <td>
                <div *ngIf="s.story1.isVideo; else notVideo">
                   <video width="384" height="288" controls><source src="media/file/{{s.story1.pathOfContent}}"></video>
                </div>

                <ng-template #notVideo>
                  <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story1.pathOfContent}}">
                </ng-template>
            </td>
            <td>
                <div *ngIf="s.story2">
                    <div *ngIf="s.story2.isVideo; else notVideo">
                       <video width="384" height="288" controls><source src="media/file/{{s.story2.pathOfContent}}"></video>
                    </div>

                    <ng-template #notVideo>
                      <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story2.pathOfContent}}">
                    </ng-template>
                </div>
            </td>
            <td>
                <div *ngIf="s.story3">
                    <div *ngIf="s.story3.isVideo; else notVideo">
                       <video width="384" height="288" controls><source src="media/file/{{s.story3.pathOfContent}}"></video>
                    </div>

                    <ng-template #notVideo>
                      <img width="384" height="288" style="object-fit: contain" src="media/file/{{s.story3.pathOfContent}}">
                    </ng-template>
                </div>
            </td>
        </tr>
    </tbody>
</table>


</div>
