<div class="wrapper" style="background-image: url(./assets/img/backg.png); margin-top: -30px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white">
            <div class="sidebar-background" ></div>
            <div class="logo">
                <a  class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/logoxml.jpg" />
                    </div>
                   Nistagram
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/signup']" > <i class="material-icons">person_add</i>
                            <p style="color: green; font-weight: 500;">Register</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link sidebar-1" [routerLink]="['/login']"> <i
                                class="material-icons">person_pin</i>
                            <p style="color: green; font-weight: 500;">Log in</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>

    <div style="margin-left:300px; margin-top:-30px; padding:39px; background-color: rgb(255, 255, 255)">
        <h2>Please enter your email</h2>
        <form (ngSubmit)="reset()" #pacijentForm="ngForm">
            <table>
            
                <tr>
                    <td>Email</td>
                    <td><input type="email" required name="email" #password="ngModel" [(ngModel)]="resetp.email" [ngClass]="{'form-control':true,
                        'is-invalid': !email?.valid && !email?.touched,
                        'is-valid': email?.valid && email?.touched}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>
    
                <td *ngIf="email?.errors?.required && email?.touched"> The field must be filled</td>
                <td *ngIf="email?.errors?.pattern && email?.touched"> Username is invalid</td>
                </tr>
                       
                                <tr>
                                <td><input class="btn waves-effect waves-light pink accent-2" type="submit" value="Send me reset link"></td>
                                    </tr>
    
            </table>
        </form>
       
    </div>


    </div>
    